# Gradle
.gradle/
build/
out/
classes/
# Exclude all of gradle/ except the wrapper JAR
gradle/*
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar

# IDEA (IntelliJ)
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
.settings/
# Eclipse (if relevant)
.classpath
.project
bin/

# Fabric
run/

# Testing stuff
sewingmachine-custom/

# Misc
.fake